.userTable {
      width: 60%;
      background-color: white;
      box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
      border-radius: 5px;
      margin: 50px auto;
      padding: 50px;
      font-family: 'Montserrat', sans-serif;
}

.addUser {
      text-decoration: none;
      background-color: purple;
      color: white;
      font-weight: 500;
      box-shadow: 1px, 1px 8px rgba(0, 0, 0, 0.065);
      border: 5px;
      font-family: 'Montserrat', sans-serif;
      padding: 10px;
      border-radius: 5px;
}

.userTable table {
      width: 100%;
      margin-top: 30px;
      border-collapse: collapse;
      padding: 50px;
      font-family: 'Montserrat', sans-serif;
      /* margin: 20px; */

}

.userTable table thead th {
      background-color: rgb(6, 86, 111);
      color: white;
      padding: 15px;
      font-family: 'Montserrat', sans-serif;

}

.userTable table tbody {
      padding: 50px;
      font-family: 'Montserrat', sans-serif;
      text-align: center;
}

.actionButton button,
.actionButton a {
      border: 0;
      outline: none;
      padding: 6px 8px;
      color: white;
      border-radius: 4px;
      cursor: pointer;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      text-decoration: none;
      margin: 0 10px;
      display: inline-block;

      /* width: 40px; */

      height: 30px;

}

.actionButton button {
      background-color: red;
}

.actionButton a {
      background-color: green;
      height: 30px;
      margin-top: 5px;
}