.userTable {
      width: 60%;
      background-color: white;
      box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
      border-radius: 5px;
      margin: 50px auto;
      padding: 50px;
}

.addUser {
      text-decoration: none;
      background-color: purple;
      color: white;
      font-weight: 500;
      box-shadow: 1px, 1px 8px rgba(0, 0, 0, 0.065);
      border: 5px;
      padding: 10px;
      border-radius: 5px;
}

.userTable table {
      width: 100%;
      margin-top: 30px;
      border-collapse: collapse;
      padding: 50px;
      /* margin: 20px; */

}

.userTable table thead th {
      background-color: rgb(6, 86, 111);
      color: white;
      padding: 15px;

}

.userTable table tbody {
      padding: 50px;
      text-align: center;
}

.actionButton button {
      border: 0;
      outline: none;
      background-color: red;
      padding: 6px 8px;
      color: rgb(255, 255, 255);
      border-radius: 5px;
      cursor: pointer;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-weight: 600;
}

.actionButton a {
      background: green;
      color: white;
      padding: 5px 10px;
      border-radius: 5px;
      text-decoration: none;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-weight: 500;
      margin: 0 10px;
}